services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: ceara_sem_fome
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - backend

  api:
    build: .
    container_name: ceara_sem_fome_api
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/ceara_sem_fome
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - db
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend:
